<div style='float: left; width: 100%'>
  <h2><%= "#{graph_type} chart show new record per #{date_part}".humanize %></h2>
  <div id="chart" style='height: 400px; width: 100%; min-width: 560px'></div>
</div>

<script type="text/javascript">
  $(function() {
    var data = <%= raw data %>;

    var graph_type = '<%= raw graph_type %>';

    // Format the data to use time extension.
    if (graph_type != 'pie') {
      $.each(data[0].data, function(index, data) {
        data[0] = new Date(data[0]);
      });
    }

    var series = {};
    series[graph_type] = { show: true };

    $.plot('#chart', data, {
      series: series,
      legend: { show: false },
      xaxis: {
        mode: "time"
      }
    });
  });
</script>