<form action="/admin/dashboard" class="date-filter">
  <fieldset>
    <div class="form-group">
      <label for="start_date">Start Date: </label>
      <input class="form-control"  name="start_date" type="text" value="<%= @start_date %>" />
    </div>
    <div class="form-group">
      <label for="end_date">End Date: </label>
      <input class="form-control" name="end_date" type="text" value="<%= @end_date %>" />
    </div>
  </fieldset>
</form>