<table class="table table-bordered">
  <thead>
  <tr>
    <th>
      Repeat Customer
    </th>

    <% @months.each do |month| %>
      <th>
        <%= month.strftime('%b %Y') %>
      </th>
    <% end %>

  </tr>
  </thead>

  <% @cohort_repeat_users.each do |cohort_repeat_user| %>
    <tr>
      <td>
        <%= cohort_repeat_user[:activations_month].strftime('%b %Y') %> <br/>
        <%= cohort_repeat_user[:activations_count] %> users
      </td>


      <% cohort_repeat_user[:activities_count].each do |activity_count| %>
        <td>
          <%= activity_count[:count].zero? ? '-' : activity_count[:count] %>
        </td>
      <% end %>
    </tr>

  <% end %>


</table>