<div class="dashboard-panel">
  <section>
    <h3>Total Users</h3>
    <span title="Total users (all time)"><%= number_with_delimiter(User.count) %></span>
  </section>

  <section>
    <div class="table-container">
      <div class="table-header">
        <h3>Date Filter</h3>
        <h3>Trips</h3>
        <h3>New Users</h3>
        <h3>Approved Cashback</h3>
        <h3>Pending Cashback</h3>
        <h3>Rejected Cashback</h3>
      </div>

      <div class="table-content">
        <div><%= render 'admin/application/date_filter' %></div>
        <div title="Number of trips created between date filter">
          <p><%= number_with_delimiter(Trip.where(created_at: @start_date..@end_date).count) %></p>
        </div>
        <div title="Number of new users registered between date filter">
          <p><%= number_with_delimiter(User.where(created_at: @start_date..@end_date).count) %></p>
        </div>
        <div title="Number of approved cashback transaction between date filter (Value Baht)">
          <p>
            <%= number_with_delimiter(@approved_cashback.count)  %>
            (<%= number_with_delimiter(@approved_cashback.map(&:amount).inject(0, :+).to_f) %> THB)
          </p>
        </div>
        <div title="Number of pending cashback transaction between date filter (Value Baht)">
          <p>
            <%= number_with_delimiter(@pending_cashback.count)  %>
            (<%= number_with_delimiter(@pending_cashback.map(&:amount).inject(0, :+).to_f) %> THB)
          </p>
        </div>
        <div title="Number of rejected cashback transaction between date filter (Value Baht)">
          <p>
            <%= number_with_delimiter(@rejected_cashback.count)  %>
            (<%= number_with_delimiter(@rejected_cashback.map(&:amount).inject(0, :+).to_f) %> THB)
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
