.dashboard-panel {
  font-size: 1em;

  section {
    width: 100%;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    min-height: 60px;
  }

  section h3 {
    background-image: linear-gradient(180deg, #efefef, #dfe1e2);
    text-shadow: #fff 0 1px 0;
    border: solid 1px;
    border-color: #d4d4d4 #e6e6e6 #d4d4d4 #cdcdcd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: #5E6469;
    padding: 5px 10px 3px 10px;
  }

  section span,
  section p {
    margin: 0 10px;
  }

  section p {
    padding-bottom: 20px;
  }

  .table-container {
    display: table;
    width: 100%;
  }

  .table-container .table-content p {
    padding: 0;
  }

  .table-container .table-header,
  .table-container .table-content {
    display: table-row;
  }

  .table-container .table-header > h3,
  .table-container .table-content > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .table-container .table-header > h3:first-of-type {
    text-align: left;
  }

  .active-users-charts {
    width: 100%;
    display: table;
  }

  .active-users-charts .chart-container {
    display: table-cell;
    width: 50%;
  }

  .active-users-charts .chart-container > div {
    height: 200px;
    margin-top: 10px;
    padding-bottom: 10px !important;
  }
}