.date-filter {
  padding: 10px;

  fieldset {
    display: table;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .form-group {
    display: table-row;
  }

  .form-group label,
  .form-group input {
    display: table-cell;
    padding: 0 10px;
  }
}